body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
}
.myLabels{

    font-size: 3em;
}
#myLabel1{
    background-color: hsl(234, 89%, 35%);
}
#myLabel2{
    background-color: hsl(108, 73%, 49%);
}
#myLabel3{
    background-color: hsl(0, 90%, 45%);
    
}